$fonts:('size' : 16px,
);

$colors: ('blue': #327dea,
  'gray': #a9a9a9,
  'custom_3': #f9f9f9,
  'light-blue': #619efb,
  'features-post-title': #000);

$body-bg: #030303;
$main-color: #e63f41;
$grey-color: #747474;
$border-color: #312f35;
$font-family: 'Roboto Regular',
arial;
$container-max-width: 1600px;